/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Karla:wght@200;300;400;500;600;700;800&display=swap');
/* FontsAwesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;
    color: var(--color-dark);
}

body {
    background-color: var(--color-main-light);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Karla', sans-serif;
}

button {
    cursor: pointer;
}

.InvisibleButton {
    background-color: transparent;
    border: none;
}

/* Modal */
.Modal__open{
    overflow-y: hidden !important;
    overflow-x: hidden;
}

/* Tables */
.Thead tr td i {
    color: var(--color-main);
}

.Tbody tr{
    border-bottom: 1px var(--color-light) solid;
}

.Tbody td{
    text-align: center;
    padding: 15px;
}

.TableVertical tr td:first-child {
    background-color: var(--color-main);
    border-bottom: 1px white solid;
    color: white;
}

:root {
    --color-main: #5867e8;
    --color-main-light: #f8faff;
    --color-dark: #3d3d3d;
    --color-light: rgba(132, 139, 200, 0.3);
    --box-shadow: 0 2rem 3rem var(--color-light);
    /* News */
    --color-news: #fdbc48;
    --color-news-black: #101010;
    /* Toast */
    --color-danger: #a70a1f;
    --color-info: #1dc2e0;
    --color-success: var(--color-main);
    --color-warning: #f8d300;
}
